.dialog.dialog-success
  You still do not have active playlists. Maybe it's time to synchronize ;)
  = link_to synchronize_playlisteners_path, :class => "btn btn-inverse btn-wide mll", :data => { :method => "post" } do
    = image_tag("icons/Magic@2x.png", :width => "30", :height => "30")
    %b &nbsp;Synchronize